@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  height: 500px;
  width: 400px;
  background: #333;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  border-radius: 20px;
}
img {
  border-radius: 90px;
  margin: 20px;
}
h1 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
}
h2{
  color: lightgreen;
  font-family: 'Inter';
  font-size: 15px;
}
.box1 > button{
  background: gray;
  border: gray 1px solid;
  color: whitesmoke;
  font-size: 1.4rem;
  width: 20rem;
  height: 2.5rem;
  margin: 1rem 0 0 0;
  border-radius: 10px;
}
.box2 > button{
  background: gray;
  border: gray 1px solid;
  color: whitesmoke;
  font-size: 1.4rem;
  width: 20rem;
  height: 2.5rem;
  margin: 1rem 0 0 0;
  border-radius: 10px;
}
.box3 > button{
  background: gray;
  border: gray 1px solid;
  color: whitesmoke;
  font-size: 1.4rem;
  width: 20rem;
  height: 2.5rem;
  margin: 1rem 0 0 0;
  border-radius: 10px;
}
.box4 > button{
  background: gray;
  border: gray 1px solid;
  color: whitesmoke;
  font-size: 1.4rem;
  width: 20rem;
  height: 2.5rem;
  margin: 1rem 0 0 0;
  border-radius: 10px;
}
button:hover{
  cursor: pointer;
  background: lightgreen;
  color: black;
}